#addContainer{
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#addPaper{
    height: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}