:root{

    --color-one: #FAF8ED;
    --color-two: #748E63;
    --color-three: #99B080;
    --color-four: #F9B572;

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Background CSS      ----------------------------- */

.background {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-two); /* dark background */
    position: relative; /* Allows absolute positioning of child elements relative to this parent */
    overflow: hidden; /* To ensure any overflow of the curved section is hidden */
  }
  
  .curved-section {
    background-color: white;
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  }
  





/* Background CSS END      ----------------------------- */