*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/* Recipe Card */
.recipeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    width: 50%; /* Adjust width as needed */
    position: relative;
}

.recipeContent{
    position: absolute;
    border-radius: 1rem;
    /* background: var(--color-main-light); */
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 1rem;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(13,13,13,0) 100%);
}

/* Recipe Title */
.recipeTitle {
    font-size: 1.2rem;
    color: var(--color-black);
    border-radius: 1rem 1rem 0 0;
    font-family: 'Roboto', sans-serif;
}

.recipeOwner{
    width: 100%;
    display: flex;
    font-size: 0.8rem;
    color: rgb(93, 93, 93);
    font-family: 'Roboto', sans-serif;
}




/* Recipe Image */
.recipeImage {
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    max-height: 300px;
}

.recipeImage img {
    max-width: 100%;
    /* border-radius: 1rem 1rem 0 0; */
}

/* Expand Button */
.expandBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--color-white);
    background: var(--color-main-light);
    cursor: pointer;
    border-radius: 0 0 1rem 1rem;
    font-family: 'Roboto', sans-serif;
    height: 6%;
}

/* Recipe Ingredients (inside expandable section) */
.recipeIngredients {
    /* background-color: var(--color-white); */
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--color-black);
    border-radius: 0 0 1rem 1rem;
}



.difficultyLevel{
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: center;
}

.diffBar{
    flex-grow: 1;
    margin: 0.5rem;
    
}

/* Media Query for Small Screens */
@media screen and (max-width: 786px) {
    .recipeCard {
        width: 90%;
    }

    .recipeImage {
        max-height: 300px;
        
    }
}
